* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f4f6f9;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: white;
  width: 420px;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

h1 {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 10px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.input-group button {
  padding: 10px 16px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.input-group button:hover {
  background: #4388ca;
}

.filters {
  margin-top: 15px;
  display: flex;
  gap: 8px;
}

.filters button {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.filters button:hover {
  background: #f1f1f1;
}

ul {
  list-style: none;
  padding: 0px;
  margin-top: 20px;
}

/*Task item agar sejajar input*/
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 10px;
  background: #f9fafb;
  border-radius: 10px;
  transition: 0.2s;
}

li:hover {
  background: #eef2ff;
}

li button {
  border: none;
  background: transparent;
  color: rgb(95, 95, 95);
  transition: 0.2s ease;
  font-size: 16px;
  cursor: pointer;
}
li button {
}

li button:hover {
  background: #dc2626;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
