body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 400px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

input {
  padding: 8px;
  width: 65%;
}

button {
  padding: 8px;
  cursor: pointer;
}

li {
  margin-top: 10px;
  list-style: none;
  padding: 8px;
  background: #eee;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
